@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

$bg-general: #ffffff;
$bg-components: #bdbdbd;
$bg-details: #3d3d3d;
$texts: #000000;
$success: #07ce00;
$warning: #ce0000;
$font-main: 'Ubuntu', sans-serif;
$font-secondary: 'Nunito Sans', sans-serif;