@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

$bg-general: #252525;
$bg-components: #161515;
$texts: #e0e0e0;
$success: #07ce00;
$warning: #ce0000;
$font-secondary: 'Ubuntu', sans-serif;
$font-main: 'Nunito Sans', sans-serif;