@import "./variables/variables.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    ba
}

.header-main{
    background-color: #9c9c9c;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}